# Root file EditorConfig
root = true

# Pengaturan default untuk semua file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Pengaturan untuk file TypeScript dan TSX
[*.{ts,tsx}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Pengaturan untuk file JSON
[*.json]
indent_style = space
indent_size = 2

# Pengaturan untuk file YAML
[*.yml]
indent_style = space
indent_size = 2

# Pengaturan untuk file Markdown
[*.md]
trim_trailing_whitespace = false
